In [1]:
print('-'*80)

--------------------------------------------------------------------------------

In [4]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print('이름: %s 나이: %s' % (name1, age1))
print('이름: %s 나이: %s' % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [6]:
print('이름: {} 나이: {}'.format(name1, age1))

이름: 김민수 나이: 10

In [7]:
print(f'이름: {name1} 나이: {age1}')

이름: 김민수 나이: 10

In [8]:
stocks = "5,969,782,550"
int(stocks.replace(",",""))

5969782550

In [9]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [10]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [11]:
ticker.capitalize()

'Btc_krw'

In [12]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [14]:
a = "hello world"
a.split()

['hello', 'world']

In [15]:
date = "2020-05-01"
dates = date.split("-")
print(f'{dates[0]}, {dates[1]}')

2020, 05

In [16]:
movie_rank = ['docs', 'split', 'lucky']

In [17]:
movie_rank.append('batman')

In [18]:
movie_rank.insert(1,"superman")

In [19]:
movie_rank.remove("lucky")

In [20]:
movie_rank

['docs', 'superman', 'split', 'batman']

In [21]:
del movie_rank[:-2]

In [22]:
movie_rank

['split', 'batman']

In [23]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2

In [24]:
nums = [1, 2, 3, 4, 5, 6, 7]
min(nums)

1

In [25]:
sum(nums)

28

In [29]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [32]:
sum(nums)/len(nums)

4.0

In [47]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]
nums[1::2]

[2, 4, 6, 8, 10]

In [48]:
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [49]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [51]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
for i in range(len(interest)):
    print(interest[i], end=" ")
    
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [52]:
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [53]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [55]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()

In [56]:
my_variable = ()

In [57]:
movie = ('doc', 'split', 'lucky')

In [61]:
t = (1,)
type(t)

tuple

In [63]:
t = ('A', 'b', 'c')
t = ('a', 'b', 'c')
t

('a', 'b', 'c')

In [66]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest = tuple(interest)
type(interest)

tuple

In [67]:
nums = tuple(range(2,100,2))

In [69]:
type(nums)

tuple

In [72]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*a, b, c = scores

In [74]:
a

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [75]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *b, c = scores
b

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [78]:
temp = {}

In [79]:
temp = {'메로나':1000,
        '폴라포': 1200,
        '빵빠레': 1800}

In [83]:
temp["죠스바"] = 1500
temp["월드콘"] = 1200
temp

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1500, '월드콘': 1200}

In [85]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print('메로나 가격:', ice['메로나'])

메로나 가격: 1000

In [86]:
ice['메로나'] = 1300

In [87]:
ice

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [88]:
inventory = {'m': [300, 20],
             'b': [400, 3],
             'j': [250, 100]}

print(inventory['m'][0], "원")

300 원

In [89]:
inventory['월드콘'] = [500, 7]

In [90]:
inventory

{'m': [300, 20], 'b': [400, 3], 'j': [250, 100], '월드콘': [500, 7]}

In [91]:
inventory.keys()

dict_keys(['m', 'b', 'j', '월드콘'])

In [92]:
inventory.values()

dict_values([[300, 20], [400, 3], [250, 100], [500, 7]])

In [93]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)

In [94]:
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [95]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))

In [96]:
result

{'apple': 300, 'pear': 250, 'peach': 400}

In [97]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))

In [98]:
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}