In [1]:
print('-'*80)

--------------------------------------------------------------------------------

In [4]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print('이름: %s 나이: %s' % (name1, age1))
print('이름: %s 나이: %s' % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [6]:
print('이름: {} 나이: {}'.format(name1, age1))

이름: 김민수 나이: 10

In [7]:
print(f'이름: {name1} 나이: {age1}')

이름: 김민수 나이: 10

In [8]:
stocks = "5,969,782,550"
int(stocks.replace(",",""))

5969782550

In [9]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [10]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [11]:
ticker.capitalize()

'Btc_krw'

In [12]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [14]:
a = "hello world"
a.split()

['hello', 'world']

In [15]:
date = "2020-05-01"
dates = date.split("-")
print(f'{dates[0]}, {dates[1]}')

2020, 05

In [16]:
movie_rank = ['docs', 'split', 'lucky']

In [17]:
movie_rank.append('batman')

In [18]:
movie_rank.insert(1,"superman")

In [19]:
movie_rank.remove("lucky")

In [20]:
movie_rank

['docs', 'superman', 'split', 'batman']

In [21]:
del movie_rank[:-2]

In [22]:
movie_rank

['split', 'batman']

In [23]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2

In [24]:
nums = [1, 2, 3, 4, 5, 6, 7]
min(nums)

1

In [25]:
sum(nums)

28

In [29]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [32]:
sum(nums)/len(nums)

4.0

In [47]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]
nums[1::2]

[2, 4, 6, 8, 10]

In [48]:
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [49]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [51]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
for i in range(len(interest)):
    print(interest[i], end=" ")
    
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [52]:
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [53]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [55]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()

In [56]:
my_variable = ()

In [57]:
movie = ('doc', 'split', 'lucky')

In [61]:
t = (1,)
type(t)

tuple

In [63]:
t = ('A', 'b', 'c')
t = ('a', 'b', 'c')
t

('a', 'b', 'c')

In [66]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest = tuple(interest)
type(interest)

tuple

In [67]:
nums = tuple(range(2,100,2))

In [69]:
type(nums)

tuple

In [72]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*a, b, c = scores

In [74]:
a

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [75]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *b, c = scores
b

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [78]:
temp = {}

In [79]:
temp = {'메로나':1000,
        '폴라포': 1200,
        '빵빠레': 1800}

In [83]:
temp["죠스바"] = 1500
temp["월드콘"] = 1200
temp

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1500, '월드콘': 1200}

In [85]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print('메로나 가격:', ice['메로나'])

메로나 가격: 1000

In [86]:
ice['메로나'] = 1300

In [87]:
ice

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [88]:
inventory = {'m': [300, 20],
             'b': [400, 3],
             'j': [250, 100]}

print(inventory['m'][0], "원")

300 원

In [89]:
inventory['월드콘'] = [500, 7]

In [90]:
inventory

{'m': [300, 20], 'b': [400, 3], 'j': [250, 100], '월드콘': [500, 7]}

In [91]:
inventory.keys()

dict_keys(['m', 'b', 'j', '월드콘'])

In [92]:
inventory.values()

dict_values([[300, 20], [400, 3], [250, 100], [500, 7]])

In [93]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)

In [94]:
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [95]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))

In [96]:
result

{'apple': 300, 'pear': 250, 'peach': 400}

In [97]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))

In [98]:
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

In [ ]:
n = int(input())

if n % 2 == 0:
    print('짝수')
else:
    print('홀수')

In [ ]:
n = int(input())

if n + 20 > 255:
    print(255)
else:
    print(n+20)

In [ ]:
time = input("Current time: ")
min = time.split(':')[1]

if min == '00':
    print('정각입니다.')
else:
    print('정각이 아닙니다.')

In [ ]:
time = input('current time: ')
if time[-2:0] == "00":
    print('정각입니다.')
else:
    print('정각이 아닙니다.')

In [ ]:
fruit=['사과', '포도','홍시']
choice = input('좋아하는 과일은? ')

if choice in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

In [ ]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
profile = input()
if profile in warn_investment_list:
    print('경고 종목')
else:
    print('good to go')

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input()
if user in fruit.keys():
    print('correct')
else:
    print('wrong')

In [ ]:
lower = input()
if lower.islower():
    print(lower.upper())
else:
    print(lower)

In [ ]:
# 123번 문제

money = input('입력: ')
num, curr = int(money.split(' ')[0]), money.split(' ')[1]


if curr == '달러':
    print('%.2f원' %(num*1167))
elif curr == '엔':
    print('%.2f원' %(num*1.096))
elif curr == '유로':
    print('%.2f원' %(num*1268))
else:
    print('%.2f원' %(num*171))

In [ ]:
number1= int(input())
number2= int(input())
number3= int(input())

print(max(number1, number2, number3))

In [ ]:
zipcode = input('우편번호: ')
loc = int(zipcode[2])

if loc <=2:
    print('강북구')
elif loc <=5:
    print('도봉구')
elif loc<=9:
    print('노원구')

In [ ]:
ssn = input().split('-')
num = ssn[0]+ssn[1] 
cal1 = (int(num[0])*2+int(num[1])*3+int(num[2])*4+int(num[3])*5+int(num[4])*6+int(num[5])*7+int(num[6])*8+int(num[7])*9+int(num[8])*2+int(num[9])*3+int(num[10])*4+int(num[11])*5)%11
cal2 = 11 - cal1
if int(num[-1]) == cal2:
    print('유효한 주민등록 번호입니다.')
else: 
    print('유효하지 않은 주민등록번호입니다.')

In [ ]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

if float(btc['opening_price'])+float(btc['max_price'])-float(btc['min_price'])>float(btc['max_price']):
    print('upupup')
else:
    print('badbadbad')

In [16]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

In [17]:
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [23]:
# 165번 문제
for num in range(10):
    print(num/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [27]:
n = 0
for i in range(1, 11):
    
    n = n + i

print('sum:', n)

sum: 55

In [29]:
n = 0
for i in range(1, 11,2):
        n += i

print(n)

25

In [31]:
my_list = ["가", "나", "다", "라"]
for i in range(1,len(my_list)):
    print(my_list[-i],my_list[-i-1])

라 다
다 나
나 가

In [35]:
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [47]:
# 186번, 187번

apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i[::-1]:
        print(j, '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [49]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []
for i in data:
        inner = []
        for j in i:
                inner.append(j*1.00014)
        result.append(inner)

print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [54]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3]>150:
        print(i[3])
    else:
        pass

190
310

In [55]:
for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

In [56]:
volatility =[]
for i in ohlc[1:]:
    volatility.append(i[1]- i[2])

In [57]:
volatility

[40, 30, 10]

In [58]:
for i in range(1, len(ohlc)):
    if ohlc[i][3]>ohlc[i][0]:
        print(ohlc[i][1]-ohlc[i][2])

10