In [6]:
# 01. import pandas and check versions
!pip install pandas

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Collecting pandas
  Downloading pandas-1.4.2-cp39-cp39-macosx_11_0_arm64.whl (10.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.1/10.1 MB 1.7 MB/s eta 0:00:0000:010:01m
Collecting pytz>=2020.1
  Downloading pytz-2022.1-py2.py3-none-any.whl (503 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 503.5/503.5 KB 9.7 MB/s eta 0:00:0000:01
Collecting numpy>=1.20.0
  Downloading numpy-1.22.3-cp39-cp39-macosx_11_0_arm64.whl (12.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.8/12.8 MB 1.5 MB/s eta 0:00:0000:0100:01m
Collecting python-dateutil>=2.8.1
  Using cached python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, python-dateutil, numpy, pandas
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Successfully installed numpy-1.22.3 pandas-1.4.2 python-dateutil-2.8.2 pytz-2022.1

In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-1.4.2-cp310-cp310-macosx_11_0_arm64.whl (10.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.1/10.1 MB 1.6 MB/s eta 0:00:0000:010:01m
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Using cached pytz-2022.1-py2.py3-none-any.whl (503 kB)
Collecting numpy>=1.21.0
  Downloading numpy-1.22.3-cp310-cp310-macosx_11_0_arm64.whl (12.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.8/12.8 MB 1.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.22.3 pandas-1.4.2 pytz-2022.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
print(pd.__version__)
print(pd.show_versions(as_json=True))

1.4.2
{
  "system": {
    "commit": "4bfe3d07b4858144c219b9346329027024102ab6",
    "python": "3.10.4.final.0",
    "python-bits": 64,
    "OS": "Darwin",
    "OS-release": "21.4.0",
    "Version": "Darwin Kernel Version 21.4.0: Fri Mar 18 00:47:26 PDT 2022; root:xnu-8020.101.4~15/RELEASE_ARM64_T8101",
    "machine": "arm64",
    "processor": "arm",
    "byteorder": "little",
    "LC_ALL": null,
    "LANG": null,
    "LOCALE": {
      "language-code": null,
      "encoding": "UTF-8"
    }
  },
  "dependencies": {
    "pandas": "1.4.2",
    "numpy": "1.22.3",
    "pytz": "2022.1",
    "dateutil": "2.8.2",
    "pip": "22.0.4",
    "setuptools": "58.1.0",
    "Cython": null,
    "pytest": null,
    "hypothesis": null,
    "sphinx": null,
    "blosc": null,
    "feather": null,
    "xlsxwriter": null,
    "lxml.etree": null,
    "html5lib": null,
    "pymysql": null,
    "psycopg2": null,
    "jinja2": "3.1.1",
    "IPython": "8.2.0",
    "pandas_datareader": null,
    "bs4": "4.11.1",
    "bottleneck": null,
    "brotli": null,
    "fastparquet": null,
    "fsspec": null,
    "gcsfs": null,
    "markupsafe": "2.1.1",
    "matplotlib": null,
    "numba": null,
    "numexpr": null,
    "odfpy": null,
    "openpyxl": null,
    "pandas_gbq": null,
    "pyarrow": null,
    "pyreadstat": null,
    "pyxlsb": null,
    "s3fs": null,
    "scipy": null,
    "snappy": null,
    "sqlalchemy": null,
    "tables": null,
    "tabulate": null,
    "xarray": null,
    "xlrd": null,
    "xlwt": null,
    "zstandard": null
  }
}None

In [4]:
# 02. create series from a list, numpy array and dict
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

pdlist = pd.Series(mylist)
pdarr = pd.Series(myarr)
pddict = pd.Series(mydict)

In [5]:
print(pdlist.head())
print("")
print(pdarr.head())
print("")
print(pddict.head())

0    a
1    b
2    c
3    e
4    d
dtype: object

0    0
1    1
2    2
3    3
4    4
dtype: int64

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [6]:
from pandas import DataFrame

In [7]:
# 03. convert series index into a column of DataFrame
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df = ser.to_frame().reset_index()
df

# .reset_index()를 이용해 index를 column으로 만들어야 함.

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

In [8]:
# 04. combine many series to form a dataframe

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df = DataFrame(data=(ser1, ser2))

In [9]:
df

  0  1  2  3  4  5  6  7  8  9   ...  16  17  18  19  20  21  22  23  24  25
0  a  b  c  e  d  f  g  h  i  j  ...   q   r   s   t   u   v   w   x   y   z
1  0  1  2  3  4  5  6  7  8  9  ...  16  17  18  19  20  21  22  23  24  25

[2 rows x 26 columns]

In [10]:
ser1

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [11]:
# 04. Best solutions
df = pd.concat([ser1, ser2], axis=1)
df.head()

df = DataFrame({'col1': ser1, 'col2':ser2} )
df.head()

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

In [12]:
# 05. assign name to the series'index
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name='alphabets'

In [13]:
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [17]:
# 06. get series A's items not in B
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# 답을 봐도 처음 보는 방식.
ser1[~ser1.isin(ser2)]
# isin은 ser1에 존재하는 모든 값을 기준으로 ser2에서 해당하는 값이 있으면 True를 없으면 False반환
# '~'not의 의미. 즉, ser2와 겹치는 값은 true를 반환하니까 겹치지 않는 값을 뽑기 위해 사용

0    1
1    2
2    3
dtype: int64

In [21]:
# 07. get uncommon items from two series
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])


# pd.concat([ser1[~ser1.isin(ser2)], ser2[~ser2.isin(ser1)]])
# 모범답안 아래 (내가 한게 더 짧은데, 파이썬은 가독성 우선이라 아래가 나은건가?)
ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1,ser2))
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64